<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Discord OAuth2</title>
    <link
      href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css'
      rel='stylesheet'
      integrity='sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT'
      crossorigin='anonymous'
    />
    <script
      src='https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js'
      crossorigin='anonymous'
    ></script>
    <script src='/js/discordAuth.js'></script>
    <link rel="stylesheet" href="/css/reset.css">
  </head>
  <body>
    <div id='info'>
      Hoi!
    </div>
    <a
      href='https://discord.com/oauth2/authorize?client_id=1222824481571999856&response_type=code&redirect_uri=http%3A%2F%2Flocalhost%3A4000%2FdiscordAuth&scope=identify'
    >Identify Yourself</a>
  </body>
</html>