<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Regeringen</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"
      crossorigin="anonymous"
    ></script>
    <script src="/js/index.js"></script>
    <link rel="stylesheet" href="/css/reset.css">
  </head>
  <body>
    <nav>
      <a href="/discordAuth">Discord Login</a>
      <a href="/login">Login</a>
      <a href="/register">Register</a>
      <a href="/citat">Citat</a>
      <a href="/screenshots">Screenshots</a>
    </nav>
  </body>
</html>
