<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link
      rel='stylesheet'
      href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css'
      integrity='sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN'
      crossorigin='anonymous'
    />
    <script
      defer
      src='https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js'
    ></script>
    <script
      defer
      src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js'
      integrity='sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+'
      crossorigin='anonymous'
    ></script>
    <script
      defer
      src='https://code.jquery.com/jquery-3.7.1.js'
      integrity='sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4='
      crossorigin='anonymous'
    ></script>
    <script defer src='/js/login.js'></script>
    <link rel='stylesheet' href='/css/login.css' />
    <link rel='stylesheet' href='/css/webkit.css' />
    <title>Registrera konto</title>
    <script defer src='/js/register.js'></script>
  </head>
  <body class='bg-black bg-gradient text-white'>
    <header class='text-center pb-4 mt-4 mb-2 border-bottom border-primary'>
      <h1>
        Regeringen
      </h1>
    </header>
    <main class='d-flex justify-content-center'>
      {{! Sign up form with username, email, password, and password confirmation fields. It uses bootstrap with a card layout. It does not use div or span elements. }}
      <form class='card bg-dark text-white w-25 mt-5' id='register-form'>
        <h2 class='card-header text-center'>Registrera konto</h2>
        <section
          class='card-body d-flex flex-column justify-content-center align-items-center'
        >
          <label for='username' class='form-label'>Användarnamn</label>
          <input
            type='text'
            id='username'
            name='username'
            class='form-control'
          />
          <label for='email' class='form-label'>Email</label>
          <input type='email' id='email' name='email' class='form-control' />
          <label for='password' class='form-label'>Lösenord</label>
          <input
            type='password'
            id='password'
            name='password'
            class='form-control'
          />
          <label for='password-confirmation' class='form-label'>Bekräfta
            lösenord</label>
          <input
            type='password'
            id='password-confirmation'
            name='password-confirmation'
            class='form-control'
          />
          <button id='submit' type='button' class='btn btn-primary mt-3'>Skapa
            konto</button>
        </section>
        <footer class='response card-footer d-flex justify-content-center'>
        </footer>
      </form>
    </main>
  </body>
</html>